html,
body,
main#home {
  position: relative;
  height: 100%;
}
body {
  font-family: 'Dancing Script', cursive !important;
  background-color: rgba(200, 200, 200, .5);
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #0000009f !important;
}

.hide {
  display: none;
}

.backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100vh;
  top: 0;
  color: white;
  font-size: 3em;
}

#home .swiper-container {
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
}

#home .swiper-wrapper {
  -webkit-transition-timing-function: linear !important; 
  -o-transition-timing-function: linear !important; 
  transition-timing-function: linear !important;
}

#home .swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

#home .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

#home .swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

#home .swiper-slide .subtitle {
  font-size: 21px;
}

#home .swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

#gallery .swiper-container {
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

#gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}

#gallery .gallery-top {
  height: 100%;
  width: 100%;
}

#gallery .gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

#gallery .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
